@import "../../../styles/mixins.scss";

.explainerCard {
  position: relative;
  width: 22rem;
  overflow: hidden;
  border-radius: 1rem;
  max-width: 90%;
  &.light {
    background: $gradient;
    p,
    li,
    h2 {
      color: $dark-blue;
    }
    .comp-logo,
    .more {
      box-shadow: 1px 3px 4px #0000001c;
    }
  }
  &.dark {
    background: $dark-blue;
    * {
      color: $white;
    }
    .comp-logo,
    .more {
      box-shadow: 1px 3px 4px #ffffff35;
    }
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    height: 15rem;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .card-logo {
    width: 4rem;
    height: 4rem;
  }
  .logoTitle {
    @include box-center($justify: flex-start);
    gap: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    h2 {
      font-size: 1.4rem;
    }
    img {
      object-position: left !important;
    }
  }
  .bottom {
    padding: 0.5rem 1rem 2rem 1rem;
    @include box-center($justify: space-between);
    .logos {
      @include box-center($justify: flex-start);
      margin-top: 0.5rem;
      li {
        &:nth-child(2) {
          transform: translateX(-0.25rem);
        }
        &:nth-child(3) {
          transform: translateX(-0.5rem);
        }
      }
    }
    .comp-logo {
      width: 1.6rem;
      height: 1.6rem;
      background: $white;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid $white;
    }
    .more {
      transform: translateX(-0.75rem);
      background: $white;
      color: $dark-blue;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      overflow: hidden;
      font-size: 1rem;
      @include box-center;
    }
  }
  .companies {
    p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .careersPage{
    .content{
      padding-right: 0!important;
      padding-left: 0!important;
    }
    h3{
      padding: 0 0.6rem;
    }
  }
}