@import "../../../styles/mixins.scss";

.loaderContainer {
    @include box-center();
    .loader {
        width: 2rem;
        height: 2rem;
        border: 2px solid $dark-blue;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
}
  
  

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}