@import "../../../styles/mixins.scss";

.values-container {
  @include box-center($direction: column);
  padding-top: 2rem;
  background: $white;
  h2 {
    color: $dark-blue;
    font-size: 2.2rem;
    text-align: center;
  }
}
